{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "tabWidth": 4,
                "printWidth": 120,
                "singleQuote": false,
                "explicitTypes": "always"
            }
        },
        {
            "files": ["*.ts", "*.tsx"],
            "options": {
                "tabWidth": 4,
                "printWidth": 120,
                "parser": "typescript"
            }
        },
        {
            "files": ["*.js", "*.jsx"],
            "options": {
                "tabWidth": 4,
                "printWidth": 120,
                "parser": "babel"
            }
        }
    ]
}
